<app-cover></app-cover>
<div class="container">
  <div class="espaco"></div>
  <h1>Carrinho</h1>
  <div class="espaco"></div>
  <div *ngIf="cartItems.length === 0">
    <p>Seu carrinho está vazio.</p>
  </div>
  <div *ngIf="cartItems.length > 0" class="itens">
    <ul>
      <li *ngFor="let item of cartItems">
        <img [src]="item.imagem" alt="{{ item.nome }}" width="100">
        <div class="dados">
          <h2>{{ item.nome }}</h2>
        <h3>R${{ item.preco.toFixed(2) }}</h3>
        </div>
        
      </li>
    </ul>
    <div class="espaco"></div>
    <p>Total de itens: {{ totalQuantity }}</p>
    <p>Total: R${{ totalPrice.toFixed(2) }}</p>
    <div class="buttons">
      <button (click)="clearCart()">Limpar Carrinho</button><br>
      <a routerLink="/checkout"><button>Finalizar pedido</button></a>
    </div>
  </div>
  <div class="espaco"></div>
</div>
