<app-slider></app-slider>
<div class="espaco"></div>
<div class="container">
    <h1> Vermillion Cupcakes</h1>
</div>

<div class="container">
    <div id="fourth" class="buttonBox">
        <a routerLink="/cardapio"><button>Ver Mais</button></a>
    </div>
</div>

<div class="espaco"></div>
<div class="container">
    <div class="row" style="display: flex;">
        <div class="col-1">
            <h2>Sobre</h2>
            <p>Boas vindas à Vermillion Cupcakes, onde a indulgência encontra a sofisticação em cada mordida. Nossa
                boutique de
                cupcakes é dedicada a criar delícias requintadas que aguçam tanto o paladar quanto os olhos. Na
                Vermillion
                Cupcakes, acreditamos que cada momento merece um toque de doçura, por isso elaboramos cuidadosamente
                cada
                cupcake usando apenas os melhores ingredientes e técnicas tradicionais.</p>
            <p>Adentre nossa elegante loja e mergulhe
                em um mundo de decadência e charme. De sabores clássicos a criações inovadoras, nosso cardápio oferece
                uma
                variedade tentadora de cupcakes para satisfazer todos os desejos e ocasiões. Seja celebrando um marco
                especial
                ou simplesmente se presenteando com um momento de indulgência, a Vermillion Cupcakes está aqui para
                elevar sua
                experiência com nossas confeções meticulosamente elaboradas.</p>
        </div>
        <div class="col-2">
            <img src="../../assets/img/cupcake-sobre.jpg" />
        </div>
    </div>

</div>