<app-cover></app-cover>
<div class="espaco"></div>
<div class="container" id="firstContainer">
    <div class="row">
        <h1>Minha conta</h1>
        <div class="espaco"></div>
        <div class="profile-container">
            <form [formGroup]="profileForm" (ngSubmit)="onUpdate()">
                <label for="fullname">Nome Completo</label>
                <input type="text" id="fullname" formControlName="fullname" class="form-control" />

                <label for="cpf">CPF</label>
                <input type="text" id="cpf" formControlName="cpf" class="form-control" />

                <label for="email">E-mail</label>
                <input type="email" id="email" formControlName="email" class="form-control" />

                <label for="phonenumber">Telefone</label>
                <input type="tel" id="phonenumber" formControlName="phonenumber" class="form-control" />

                <label for="address">Rua</label>
                <input type="text" id="address" formControlName="address" class="form-control" />

                <div class="form-flex">
                    <div class="col">
                        <label for="district">Bairro</label>
                        <input type="text" id="district" formControlName="district" class="form-control" />
                    </div>
                    <div class="col">
                        <label for="housenumber">Número da Casa</label>
                        <input type="text" id="housenumber" formControlName="housenumber" class="form-control" />
                    </div>
                </div>
                <div class="form-flex">
                    <div class="col">
                        <label for="city">Cidade</label>
                        <input type="text" id="city" formControlName="city" class="form-control" />
                    </div>
                    <div class="col">
                        <label for="zipcode">CEP</label>
                        <input type="text" id="zipcode" formControlName="zipcode" class="form-control" />
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-primary">Atualizar dados</button>
                </div>
                <div class="espaco"></div>
            </form>
        </div>
        <div class="favorites">
            <h2>Favoritos</h2>
            <div *ngIf="favorites.length === 0">
                <p>Você não tem nenhum favorito ainda.</p>
            </div>
            <div *ngIf="favorites.length > 0">
                <ul class="products-container">
                    <li *ngFor="let favorite of favorites" class="product-card">
                        <img [src]="favorite.imagem" alt="{{favorite.nome}}" class="product-image">
                        <h2>{{ favorite.nome }}</h2>
                        <h2>R${{ favorite.preco.toFixed(2) }}</h2>
                        <div class="bottom-card">
                            <div class="buttons">
                                <button (click)="adicionarAoCarrinho(favorite)"><span>Comprar agora</span><i
                                    class="fa-solid fa-cart-shopping fa-xl" style="color: #DAA520;"></i></button>
                                <button (click)="removerDosFavoritos(favorite)"><i class="fa-solid fa-heart-crack fa-xl"
                                        style="color: #830000;"></i></button>
                                
                            </div>
                        </div>
                    </li>
                </ul>
                <div *ngIf="message" class="alert alert-success"> {{ message }} </div>
            </div>
        </div>
    </div>
</div>
