.footer {
    height: 410px;
    background: linear-gradient(90deg, #1D0101 0%, #560000 81%);
}
.col-1, .col-2, .col-3{
    width: 100%;
    text-align: center;
}

.footer img {
    width: 100px;
}

a {
    color: var(--clr-white);
    font-family: 'Sedan SC';
    line-height: 34px;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.payments .row .col {
    text-align: center;
}

.payments img {
    height: 32px;
    width: 290px;
}
.col-3 a:nth-child(1){
    font-size: 1.04rem;
}
.col-3 a{
    font-size: 0.74rem;
}

@media only screen and (min-width: 425px){
    .col-3 a {
        font-size: 0.84rem;
    }
}
@media only screen and (min-width: 768px) {
    .footer {
        height: 230px;
    }
    .footer .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
    }

    .footer .col-1, .col-2, .col-3 {
        width: 33%;
        margin: auto;
        text-align: center;
    }

    .footer .col-3 {
        padding-bottom: 54px;
    }

    .footer img {
        width: 130px;
    }
    a{
        font-size: 1rem;
        line-height: 40px;
    }
    .col-3 a{
        font-size: 0.550rem;
    }
}
@media only screen and (min-width: 1024px) {
    .footer {
        height: 277px;
    }
    .footer .row {
        padding-top: 45px;
    }

    .footer .col-1, .col-2, .col-3 {
        width: 33%;
        margin: auto;
        text-align: center;
    }

    .footer .col-3 {
        padding-bottom: 54px;
    }

    .footer img {
        width: 175px;
    }
    a{
        line-height: 40px;
    }
    .col-3 a{
        font-size: 0.8rem;
    }
    .payments img {
        height: 45px;
        width: 290px;
    }
}
@media only screen and (max-width: 767px){
    .footer img{
        margin-top: 15px;
    }
    .row{
        display: block;
    }
    a{
        font-size: 1.04rem;
    }
    .footer .col-2{
        margin-top: 10px;
    }
}