<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/img/logo.png" alt="Vermillion Cupcakes" />
            </div>
            <div class="col" style="text-align: center;">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/sobre">Sobre</a></li>
                    <li><a routerLink="/cardapio">Cardápio</a></li>
                    <li><a routerLink="/duvidas">Dúvidas</a></li>
                </ul>
            </div>
            <div class="col" style="text-align: center;">
                <a routerLink="/fale-conosco">Fale Conosco</a><br />
                <a href="mailto:contato@vermillioncupcakes.com" target="_blank"
                    style="font-size: 20px;">contato&#64;vermillioncupcakes.com</a><br />
                <a href="https://api.whatsapp.com/send?phone=5511900000000" target="_blank"
                    style="font-size: 20px;">(11) 90000-0000</a>
            </div>
        </div>
    </div>
</div>
<div class="border"></div>
<div class="payments">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/img/payments.jpg" alt="Formas de pagamento aceitas" />
            </div>
        </div>
    </div>
</div>