<div class="container">
    <div class="espaco"></div>
    <h1>Clientes Cadastrados</h1>
    <div *ngIf="users.length === 0">
        <p>Nenhum cliente cadastrado.</p>
    </div>
    <div class="espaco"></div>
    <table *ngIf="users.length > 0">
        <thead>
            <tr>
                <th scope="col">Nome Completo</th>
                <th scope="col">E-mail</th>
                <th scope="col">Número</th>
                <th scope="col">CPF</th>
                <th scope="col">Endereço</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">CEP</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phonenumber}}</td>
                <td>{{user.cpf}}</td>
                <td>{{user.address}} {{user.housenumber}}</td>
                <td>{{user.district}}</td>
                <td>{{user.city}}</td>
                <td>{{user.zipcode}}</td>
            </tr>
        </tbody>
    </table>
</div>