<app-cover></app-cover>
<div class="espaco"></div>
<div class="container">
    <div class="row">
        <h1>Dúvidas</h1>
        <div class="espaco"></div>
    </div>
</div>
<div class="background">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Comprei um cupcake e veio com o sabor errado. O que fazer?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                Pedimos desculpas pelo inconveniente. Entre em contato conosco através do nosso serviço
                                de atendimento ao cliente e vamos resolver isso rapidamente para você!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Quais são os sabores de cupcakes disponíveis?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                Oferecemos uma variedade de sabores, incluindo alguns que mudam sazonalmente utilizando
                                as frutas da estação. Confira nossa página de cardápio ou venha até nossa loja para
                                descobrir as opções atuais.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Posso encomendar cupcakes para eventos especiais?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                Claro! Fazemos encomendas para eventos como aniversários, casamentos e corporativos.
                                Entre em contato conosco para mais detalhes.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Qual é o prazo de validade dos cupcakes?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                Nossos cupcakes são feitos frescos diariamente e têm melhor sabor se consumidos no mesmo
                                dia. Eles podem ser armazenados por até 2 dias em um local fresco e seco, ou 5 dias na
                                geladeira.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            Vocês fazem entregas?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Sim, oferecemos serviço de entrega em São Paulo. Verifique a disponibilidade no seu endereço
                            e os horários de entrega em nosso site.
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="espaco"></div>