.accordion {
    --bs-accordion-bg: #ffffffc2 !important;
    margin: 20px 0;
}

.accordion-item h2 button {
    font-size: 0.75rem !important;
    text-transform: uppercase !important;
    font-family: "Roboto", sans-serif;
    color: var(--clr-red);
    font-weight: 700;
    font-style: normal;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffffc2 !important;
}

.accordion-collapse {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.accordion-item {
    border-color: var(--clr-gold);
}

.accordion-button:focus {
    box-shadow: none;
}

h1::after {
    right: -385px;
}

h1::before {
    left: -385px;
}


@media only screen and (min-width: 1024px) {
    .accordion-item h2 button {
        font-size: 20px !important;
    }
    h1::after {
        right: -400px;
    }
    
    h1::before {
        left: -400px;
    }
}

@media only screen and (min-width: 1400px){
    h2{
        line-height: 30px;
    }
}



@media only screen and (max-width: 767px) {
    .background {
        background-repeat: repeat;
    }

}