h1::before {
    left: -420px;
}

h1::after {
    right: -420px;
    top: 521px;
}

.formulario {
    display: block;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    font-family: "Sedan";
    font-weight: 400;
    line-height: 34px;
    color: black;
    text-align: center;
}

h3 {
    font-size: 20px;
}

.dicas {
    max-width: 400px;
    -webkit-box-shadow: 0px 0px 18px -2px rgba(138, 138, 138, 1);
    -moz-box-shadow: 0px 0px 18px -2px rgba(138, 138, 138, 1);
    box-shadow: 0px 0px 18px -2px rgba(138, 138, 138, 1);
    padding: 25px;
}

.formulario input {
    background-color: var(--clr-red);
    max-width: 488px;
    border: solid var(--clr-gold) 2px;
    margin: 10px 0;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.formulario input::placeholder {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
 button {
    background-color: var(--clr-gold);
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 7px;
    padding: 5px 18px;
    margin-top: 10px;
}

.error {
    text-align: center;
}

.error p {
    background-color: var(--clr-red);
    padding: 10px;
    margin: 25px auto 0;
    max-width: 430px;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
}

.success {
    text-align: center;
}

.success p {
    background-color: var(--clr-gold);
    padding: 10px;
    margin: 25px auto 0;
    max-width: 430px;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
}

form button:active {
    background-color: var(--clr-red);
}

#firstContainer {
    margin-top: 120px;
}
.login{
    text-align: center;
}

@media only screen and (min-width: 768px) {
    h1::after {
        right: -385px;
        top: 412px;
    }
    
    h1::before {
        left: -385px;
    }
    .formulario {
        display: flex;
    }

    .col:nth-child(1) {
        max-width: 35%;
        position: relative;
        left: -100px;
    }

    .col:nth-child(2) {
        max-width: 39%;
        position: relative;
        left: -45px;
    }
     #firstContainer {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 767px) {
    form {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    .formulario{
        justify-content: center;
    }
    #nome{
        margin-top: 0;
    }
}