header {
  background: rgb(29, 1, 1);
  background: linear-gradient(90deg, rgba(29, 1, 1, 1) 0%, rgba(86, 0, 0, 1) 55%);
  height: 355px;
  font-family: "Roboto", sans-serif;
  color: var(--clr-white);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
}

a {
  color: white;
  text-decoration: none;
}

header .container {
  height: 280px;
  display: block;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

header .logo img {
  width: 127px;
}

.user-actions {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
}

.user-actions img {
  max-width: 60px;
  max-height: 60px;
}

.user-icon {
  display: flex;
  align-items: center;
  width: 130px;
}

.user-icon button {
  border: none;
  background-color: var(--clr-gold);
  padding: 5px 25px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  color: white;
}

.cart-icon {
  display: flex;
  align-items: center;
  width: 135px;
}

.cart-icon a {
  margin-left: 8px;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  max-width: 482px;
  padding: 0;
  margin: 15px 0px 0px 10px;
  width: 297px;
}

.search-bar input {
  height: 52px;
  max-width: 482px;
  border-radius: 40px;
  border: white;
  padding: 0 0 0px 67px;
}

.search-bar input::placeholder {
  color: var(--clr-red);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-bar img {
  position: relative;
  top: 10px;
  bottom: 0;
  margin: 0 auto;
  left: -258px;
  right: 0;
  width: 35px;
  height: 35px;
}

.search-results{
  position: absolute;
  top: 220px;
  z-index: 3;
  background-color: #fff;
  padding: 15px;
  width: 285px;
  border-radius: 10px;
}

.search-result-item{
  display: flex;
  margin-top: 20px;
}

.search-result-item img{
  width: 65px;
}

.search-result-item h3{
  font-size: 11px;
  margin-left: 15px;
  text-align: left;
}

.search-result-item button{
  border: none;
  background-color: transparent;
  margin-left: 20px;
}

/* Nav */
.nav-container {
  background-color: var(--clr-white);
  height: 65px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.nav-container nav {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  position: relative;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li a {
  color: var(--clr-red);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 47px;
}

nav ul .dropdown-menu {
  display: block;
}

nav ul li .dropdown-content li {
  margin: 0;
  height: 35px;
}

nav ul li .dropdown-content li a {
  padding: 10px 20px;
  display: block;
  text-align: left;
}

nav ul li:hover .dropdown-content {
  display: block;
}

nav ul li .dropdown-content a {
  line-height: 19px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0);
}

@media only screen and (min-width: 375px) {

  .user-icon {
    width: 135px;
  }

  .logo {
    width: 342px;
  }

  .search-bar input {
    padding: 0 0 0px 85px;
  }

  .search-bar img {
    left: -275px;
  }
  .search-results{
    left: 42px;
    width: 290px;
  }

  .user-actions {
    justify-content: center;
  }
  
}

@media only screen and (min-width: 425px) {
  .user-icon {
    width: 135px;
  }

  .user-icon button {
    margin: 0 20px;
  }

  .logo {
    width: 387px;
  }

  .search-bar {
    margin: 15px 0px 0px 28px;
    width: 375px;
  }

  .search-bar input {
    width: 342px;
    padding: 0 0 0px 85px;
  }

  .search-bar img {
    top: 8px;
    left: -320px;
    width: 40px;
    height: 40px;
  }

  .search-results{
    width: 335px;
  }

  .user-actions {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 225px;
    padding: 0;
  }

  header .container {
    display: flex;
    height: 160px;
  }

  .user-icon button {
    position: absolute;
    top: 115px;
    right: 154px;
  }

  .search-bar {
    width: 310px;
  }

  .search-bar img {
    left: -280px;
  }

  
  .search-results{
    width: 300px;
    left: 165px;
    top: 120px;
  }

  nav ul .dropdown-menu {
    display: block;
    position: absolute;
    min-width: 190px;
    min-height: 205px;
    left: 0px;
    top: 64px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.25);
  }

  nav ul li {
    margin: 0 15px;
  }


  nav ul li .dropdown-content li:hover::after {
    top: 35px;
  }

  .nav-item.dropdown .dropdown-menu {
    display: none;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  nav ul li:hover::after {
    content: '';
    position: absolute;
    background-color: var(--clr-gold);
    width: 50px;
    height: 5px;
    border-radius: 25px;
    border: 1px solid var(--clr-gold);
    top: 47px;
  }

  .navbar-nav {
    height: 65px;
  }

  #home:hover::after {
    left: 10px;
  }

  #sobre:hover::after {
    left: 13px;
  }

  #cardapio:hover::after {
    left: 28px;
  }

  #duvidas:hover::after {
    left: 21px;
  }

  #faleConosco:hover::after {
    left: 47px;
  }

  #baunilha:hover::after {
    left: 37px;
  }

  #chocolate:hover::after {
    left: 47px;
  }

  #coco:hover::after {
    left: 23px;
  }

  #laranja:hover::after {
    left: 36px;
  }

  #todos:hover::after {
    left: 27px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    height: 223px;
  }

  a {
    font-size: 0.8rem;
  }

  header .container {
    height: 158px;
  }

  header .logo img {
    width: 127px;
  }

  .user-actions {
    display: flex;
    right: 315px;
    position: relative;
    align-items: center;
    top: 0;
    bottom: 0;
    flex-grow: 1;
    margin: 0 100px;
    max-width: 500px;
    padding: 0px 0 0 163px;
  }

  .user-actions img {
    max-width: 60px;
    max-height: 60px;
  }

  .user-icon {
    width: 200px;
    margin: 0 20px;
  }

  .user-icon button {
    display: none;
    position: absolute;
    top: 68px;
    right: 181px;
  }

  .user-icon:hover button {
    display: block;
  }

  .cart-icon {
    align-items: center;
    margin: 0 8px;
    width: 200px;
  }

  .cart-icon a {
    margin-left: 8px;
  }

  .search-bar {
    margin: 0 135px 0 100px;
  }

  .search-bar img {
    left: -275px;
  }

  .search-bar input::placeholder {
    padding-left: 20px;
  }

  .search-results{
    left: 242px;
  }

  /* Nav */
  .nav-container {
    background-color: var(--clr-white);
    height: 65px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .nav-container nav {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin: 0 40px;
  }

  .dropdown-menu li {
    margin: 0 20px !important;
  }

  nav ul li:hover {
    cursor: pointer;
  }

  nav ul li a {
    color: var(--clr-red);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 47px;
  }

  nav ul li:hover::after {
    top: 49px;
  }

  #home:hover::after {
    left: 13px;
  }

  #sobre:hover::after {
    left: 16px;
  }

  #cardapio:hover::after {
    left: 31px;
  }

  #duvidas:hover::after {
    left: 26px;
  }


  #baunilha {
    margin-top: 10px;
  }

  #baunilha:hover::after {
    left: 44px;
  }

  #chocolate:hover::after {
    left: 50px;
  }

  #coco:hover::after {
    left: 24px;
  }

  #laranja:hover::after {
    left: 39px;
  }

  #todos:hover::after {
    left: 27px;
  }

  nav ul li .dropdown-content a {
    line-height: 19px;
  }
}

@media only screen and (min-width:1100px) {
  a {
    font-size: 1.12rem;
  }

  .user-actions {
    padding: 0px 0 0 100px;
  }

  .user-icon button {
    right: 220px;
    top: 82px;
    font-size: 21px;
  }
}

@media only screen and (min-width:1200px) {
  .search-bar {
    margin: 0 135px 0 125px;
    width: 390px;
  }

  .search-bar input {
    width: 400px;
  }

  .search-bar img {
    left: -332px;
  }

  .search-results{
    left: 270px;
    width: 350px;
  }

  .search-result-item h3{
    font-size: 12px;
  }

  .user-actions {
    padding: 0px 0 0 104px;
  }
  .user-icon button {
    right: 220px;
  }
}

@media only screen and (min-width:1300px) {
  .search-bar {
    margin: 0 135px 0 135px;
    width: 445px;
  }
  
  .search-results{
    left: 278px;
    width: 400px;
  }
  .user-actions{
    margin: 0 0 0 150px;
  }
  .search-bar img {
    left: -385px;
  }
  .user-icon button {
    right: 219px;
  }
}

@media only screen and (min-width:1400px) {
  .logo {
    margin-left: 60px;
  }
  .search-results{
    left: 391px;
  }
  
  .search-result-item h3{
    font-size: 18px;
  }
}

@media only screen and (min-width: 1500px){
  .search-results{
    left: 440px;
  }
}

@media only screen and (min-width:1600px) {
  .logo {
    margin-left: 90px;
  }
  .search-results{
    left: 521px;
  }
}

@media only screen and (min-width:1700px) {
  .logo {
    margin-left: 110px;
  }
  .search-results{
    left: 591px;
  }
}

@media only screen and (min-width: 1800px){
  .search-results{
    left: 640px;
  }
}

@media only screen and (min-width: 1900px){
  .search-results{
    left: 692px;
  }
}

@media only screen and (max-width: 424px) {
  .logged-in-header {
    height: 415px;
  }

  .logged-in-header .container {
    height: 340px;
  }

  .logged-in-header .user-actions {
    display: block;
  }

  .logged-in-header .user-icon button {
    margin: 0 30px;
  }

  .logged-in-header .cart-icon {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {

  .navbar-toggler-icon {
    background-image: url("../../../assets/img/bars-solid.svg");
    width: 32px;
    height: 32px;
  }

  header .logo {
    text-align: center;
  }

  .user-actions {
    margin-top: 13px;
  }

  .nav-container,
  nav {
    background: var(--clr-gold);
  }

  nav button {
    border: none;
  }

  nav ul li a {
    line-height: 28px;
    color: white;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0;
  }

  .container-fluid {
    padding-top: 10px;
  }

  nav ul li {
    border-bottom: solid 1px white;
  }

  .dropdown-menu {
    border: none;
    background-color: var(--clr-gold);
  }

  #todos {
    border: none;
  }
}

@media only screen and (min-width: 319px) and (max-width: 374px) {

  .logged-in-header .user-icon {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .search-bar {
    margin: 15px 0px 0px 27px;
    width: 297px;
  }

  .logged-in-header .user-icon {
    margin: 0 50px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .logged-in-header {
    height: 363px;
  }

  .logged-in-header .container {
    height: 288px;
  }

  .logged-in-header .user-actions {
    display: flex;
  }

  .logged-in-header .user-icon {
    margin: 0;
  }

  .logged-in-header .cart-icon {
    margin: 0 0 0 112px;
  }

}