<app-cover></app-cover>
<div class="espaco"></div>
<div class="container">
    <div class="row">
        <h1>A Vermillion Cupcakes</h1>
        <div class="espaco"></div>
        <div class="col">
            <p>
                A Vermillion Cupcakes começou com uma simples paixão: criar cupcakes extraordinários que despertassem
                sorrisos e aqueçam corações. Em 2018, no coração de São Paulo, nossa fundadora, Ashley, abriu a primeira
                loja com o desejo de compartilhar suas receitas de família e inovar com sabores únicos.</p>

            <p>Desde então, a Vermillion Cupcakes se tornou uma referência no mercado. A dedicação de Ashley e sua
                equipe em usar apenas ingredientes de alta qualidade e criar designs deslumbrantes conquistou uma legião
                de fãs. Cada cupcake é uma obra-prima, combinando textura perfeita e sabor inesquecível.</p>

            <p>Além dos cupcakes deliciosos, a Vermillion Cupcakes se destaca por seu compromisso com a
                sustentabilidade e responsabilidade social. Utilizamos embalagens ecológicas e apoiamos projetos locais
                para um impacto positivo na comunidade.</p>

            <p>Hoje, somos mais do que uma loja de cupcakes; somos um símbolo de amor, criatividade e excelência.
                Venha nos visitar e experimente a magia que torna nossos cupcakes tão especiais.</p>
        </div>
        <div class="col">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/exemplo-producao-1.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/exemplo-producao-1.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/exemplo-producao-1.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>