.border {
    position: relative;
    top: 0;
}
.cover {
    background-repeat: no-repeat;
    max-width: 2000px;
    height: 130px;
    background-size: cover;
    object-fit: cover;
    display: block;
    background-image: url("../../../assets/img/cover.png");
}

@media only screen and (min-width: 1024px) {
    .cover {
        height: 210px;
    }
} 

@media only screen and (min-width: 1480px) {
    .cover {
        height: 300px;
    }
}