h1::before {
    display: none;
}

h1::after {
    display: none;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    background-color: #efefef;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.table img {
    max-width: 50px;
    height: auto;
}

table th,
td {
    border: 1px solid var(--clr-gold);
    padding: 10px;
}

table th {
    color: var(--clr-red);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

table button{
    border: none;
    background-color: var(--clr-gold);
    padding: 10px;
    color: white;
    border-radius: 7px;
    margin: 10px;
}

table button:hover{
    background-color: var(--clr-red);
}

table input{
    border: none;
    background-color: #efefef;
}

table input:focus-visible{
    padding: 10px;
}

#table-preco{
    min-width: 10px;
    max-width: 90px;
}

#table-preco input{
    min-width: 10px;
    max-width: 70px;
}

#table-estoque{
    min-width: 10px;
    max-width: 90px;
}

#table-estoque input{
    min-width: 10px;
    max-width: 70px;
}

form {
    width: 290px;
    margin: 0 auto;
}

form label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--clr-red);
    text-align: center;
}


form input,
textarea {
    background-color: var(--clr-red);
    max-width: 600px;
    border: solid var(--clr-gold) 2px;
    margin: 10px 0;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

input:focus {
    box-shadow: none;
    border: 2px solid var(--clr-gold);
}

textarea:focus {
    background-color: var(--clr-red);
    box-shadow: none;
    border: 2px solid var(--clr-gold);
    color: white;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: var(--clr-red);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--clr-gold);
}

@media only screen and (max-width: 768px) {

    .table th,
    .table td {
        font-size: 14px;
        padding: 8px;
    }

    .table img {
        max-width: 30px;
        height: auto;
    }
}

@media only screen and (min-width: 768px){
    form {
        width: 500px;
    }
}

@media only screen and (min-width: 1024px){
    form {
        width: 600px;
    }
}