.cupcakes {
  background-image: url("../../assets/img/bg-cardapio.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 2000px 1420px;
  background-repeat: no-repeat;
  min-height: 1100px;
}

.filter {
  text-align: center;
  background-color: var(--clr-red);
  padding: 15px;
}

label {
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

#categoria {
  background-color: var(--clr-gold);
  margin-left: 20px;
  border: none;
  height: 40px;
  border-radius: 5px;
  width: 220px;
}

#categoria::placeholder {
  color: white;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

h1::after {
  right: -385px;
}

h1::before {
  left: -385px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
}

.product-card {
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  box-sizing: border-box;
  width: 250px;
  max-height: 605px;
  border: 4px solid var(--clr-gold);
  border-radius: 10px;
  background-color: #ffffff9c;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 242px;
  height: auto;
  border-radius: 6px;
}

.bottom-card {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.buttons {
  position: relative;
  right: -15px;
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff00;
}

.bottom-card p {
  position: relative;
  right: -35px;
  color: var(--clr-red);
  font-weight: 700;
}

.pagination-controls {
  text-align: center;
  background-color: var(--clr-gold);
}

.pagination-controls span,
.pagination-controls button {
  color: white;
}

.pagination-controls button:nth-of-type(1) {
  border-right: 1px solid white;
  margin-right: 10px;
}

.pagination-controls button:nth-of-type(2) {
  border-left: 1px solid white;
  margin-left: 10px;
}

.alert {
  text-align: center;
  background-color: var(--clr-gold);
  padding: 10px;
  max-width: 430px;
  color: white;
  border-radius: 8px;
  font-size: 0.7rem;
  margin: 10px auto;
}

@media only screen and (min-width: 375px) {
  .product-card {
    width: 295px;
  }

  .product-image {
    width: 287px;
  }
  .cupcakes {
    background-size: 2000px 1558px;
  }
}

@media only screen and (min-width: 768px) {
  .product-card {
    width: 295px;
  }

  .bottom-card {
    justify-content: center;
  }

  .buttons {
    right: -58px;
  }

  .bottom-card p {
    color: var(--clr-gold);
    font-size: 1.2rem;
  }
  .cupcakes{
    background-size: 2000px 1510px;
  }
}

@media only screen and (min-width: 1024px) {
  .product-card {
    width: 330px;
  }

  .product-image {
    width: 322px;
  }

  .bottom-card {
    justify-content: center;
  }

  .buttons {
    right: -70px;
  }

  .bottom-card p {
    color: var(--clr-gold);
    font-size: 1rem;
  }
  h1::after {
    right: -425px;
  }
  
  h1::before {
    left: -430px;
  }
  h2{
    font-size: 20px;
  }
  .cupcakes{
    background-size: 2000px 1640px;
  }
  p{
    margin: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .product-card {
    width: 382px;
  }
  .product-image {
    width: 374px;
  }
  h2{
    font-size: 22px;
  }
  .product-card h2{
    line-height: 40px;
  }
  .bottom-card p {
    font-size: 1.2rem;
  }
  
  .buttons {
    right: -85px;
  }

}