h1::before {
    display: none;
}

h1::after {
    display: none;
}

h2 {
    font-size: 1.8rem;
}

span {
    color: var(--clr-gold);

}
.dados {
    text-align: center;
}

.dados img {
    width: 300px;
}

@media only screen and (min-width: 768px) {
    .dados {
        display: flex;
        justify-content: space-between;
    }

    .dados img {
        width: 300px;
    }

}

@media only screen and (min-width: 1024px){
    h2{
        font-size: 2rem;
        line-height: 50px;
    }
    .dados img {
        width: 400px;
    }

}

@media only screen and (min-width: 1200px){
    .dados img {
        width: 500px;
    }
}

@media only screen and (min-width: 1400px){
    .dados img {
        width: 600px;
    }
}